:root.theme_light {
  --bg-color: #fff1f7;
  --main-color: #353430;
  --accent-color: #ff0070;
  --accent-color-opacity: #32312d66;
  --heading-color: #ffc2e6;
  --title-decor-color: #ff8dcb;
  --title-decor-accent-color: #353430;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.theme_light {
  --bg-color: #fff1f7;
  --main-color: #353430;
  --accent-color: #ff0070;
  --accent-color-opacity: #32312d66;
  --heading-color: #ffc2e6;
  --title-decor-color: #ff8dcb;
  --title-decor-accent-color: #353430;
}

.theme_light .decorated-zone::after {
  /*декор левый нижний угол*/
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.theme_light .decorated-zone::before {
  /*декор правый верхний угол*/
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.theme_light .header__lamp {
  display: none;
}

.theme_light .header__theme-menu-button {
  color: var(--main-color);
}

.theme_light .header__heading {
  text-shadow: 4px 4px 0 var(--title-decor-color);
}

.theme_light .content__title {
  color: var(--main-color);
}

.theme_light .footer__heading {
  text-shadow: 2px 2px 0 var(--title-decor-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --main-color: #353430;
    --accent-color: #ff0070;
    --accent-color-opacity: #32312d66;
    --heading-color: #ffc2e6;
    --title-decor-color: #ff8dcb;
    --title-decor-accent-color: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decorated-zone::after {
    /*декор левый нижний угол*/
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
  }

  .decorated-zone::before {
    /*декор правый верхний угол*/
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
  }

  .header__lamp {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--main-color);
  }

  .header__heading {
    text-shadow: 4px 4px 0 var(--title-decor-color);
  }

  .content__title {
    color: var(--main-color);
  }

  .footer__heading {
    text-shadow: 2px 2px 0 var(--title-decor-color);
  }
}
